@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: bisque;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: burlywood;
    padding: 10px;
}

header nav li {
    display: inline;
}

header nav a{
    color: black;
}

header img {
    width: 50px;
}

header i{
    margin-left: 5px;
    color: black;
    font-size: 16px;
}

header input {
    border-radius: 10px;
    padding: 3px;
    width: 110px;
}

header i:hover {
    color: gray
}

video{
    width: 100%;
}

.videoframe{
    max-height: 50vh;
    overflow: hidden;
}

footer a{
    color: black;
}

Footer a:hover{
    color: gray;
}