@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: bisque;
    color: black;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}

header {
    background-color: burlywood;
    padding: 10px;
}

header nav li {
    display: inline;
}

header nav a {
    color: black;
}

header img {
    width: 50px;
}

header i {
    margin-left: 5px;
    color: black;
    font-size: 16px;
}

header input {
    border-radius: 10px;
    padding: 3px;
    width: 110px;
}

header i:hover {
    color: gray
}

/* main vormgeving */

section {
    margin-bottom: 2rem;
}

main img {
    display: block;
    width: 100%;
    aspect-ratio: 5 / 6;
    object-fit: cover;
}

video {
    width: 100%;
}

.videoframe {
    max-height: 100vh;
    overflow: hidden;
}

#featured {
    padding: 0 5vw;
}

#featured img {
    display: block;
    width: 100%;
    aspect-ratio: 5 / 6;
    object-fit: cover;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 70%;
    left: 7%;
    background-color: black;
    color: white;
    padding: 10px;
}

footer a {
    color: black;
}

Footer a:hover {
    color: gray;
}

#membership .flex-item {
    padding: 3rem;
}

.highlight {
    background-color: white;
    color: black;
}

.achtergrondfoto {
    background-image: url(statics/img/achtergrond\ foto\ 1.webp);
    background-size: cover;
    padding: 1rem;
    align-self: stretch;

}