body{
    background-color: rgb(1, 36, 79);
    font-family: sans-serif;
    color: aliceblue;
}

header {
    padding: 45px;
    padding-bottom: 5px;
}

#about {
    display: flex;
    padding: 20px;
    margin: 1vh;
}

h1 {
    margin: 5vw;
}

.col {
    flex: 1;
    padding: 15px;
    border-bottom: 1px solid rgb(74, 0, 246);
    border-top: 1px solid rgb(74, 0, 246);
    border-left: 1px solid rgb(74, 0, 246);
}

.right {
    flex: 2;
    border-left: 1px solid rgb(74, 0, 246);
    border-right: 1px solid rgb(74, 0, 246);

}

a {
    color: aliceblue;
}

a:hover{
    color: black;
}

footer {
    margin: 5%;
    padding-left: 45px;
    border: 1px dotted rgb(74, 0, 246);;
}



