@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: hsl(0, 0%, 100%);
    --bgc-02: hsl(0, 0%, 0%);
    --txt-01: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: blue;
    padding: 5px;
}

header nav {
    justify-self: end;
    padding: 5px;
}

header li {
    display: inline;
    color: white;
}

header a {
    color: rgb(255, 255, 255);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

main {
    padding: 1rem;
}

footer {
    background-color: var(--bgc-02);
    color: aliceblue;
    padding: 5px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

footer a {
    color: white;
    display: inline;
}